.spot-ul {
    
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    grid-gap: 50px; */
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    grid-gap: 10px;
  
   
    border: solid red 1px; 
}
.spot-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  grid-gap: 10px;
  border: solid green 1px; 

}
.spot-link {
    text-decoration: none;
    color: inherit;
}

.single-spot{
   
    
    background-color: bisque;
    border: solid black 1px;
}
.spotItem {
    display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 0px 20px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.spot-details {
    position:relative;
    flex: 1;
    
}
.spot-details p {
    margin: 5px 0;

}
.avg-star-rating {
    position: absolute;
    top: 0; 
    right:0;
    margin:5px 0; 
    text-align: right;
}
.image-div {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 225px; /* Set the desired height */
    overflow: hidden;
   
}
.spot-preview-image {
    object-fit:fill; /* Resize the image while preserving its aspect ratio */
   max-width: 100%;
    height: 100%;
    
}


  .outer-div {
    width: 100%;
    height: 100%;
  }


  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip::before {
    display: flex;
    justify-content: center;
    content: attr(data-tooltip);
    position: absolute;
    align-items: center;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }
  
  .tooltip:hover::before {
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: 1200px) {
    .spot-group {
      grid-template-columns: repeat(4, 1fr);
    }
}