
form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logIn-button {
    background-color: red;
    
}
.demo-user {
    list-style-type: none;
    margin: 10px;
    text-decoration: underline;

}